.swiper_container{

    margin: 0 auto;
    /* position: relative; */
    z-index: 1;
    /* width: 500px; */
    /* display: flex; */
}

.swiper_container .swiper{
    
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.card_container{
    /* margin: -10rem auto; */
    /* margin: 1rem; */
    width: 580px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
height: 230.19px;
background: #FFFFFF;
box-shadow: 0px 0px 134.516px -46.4516px rgba(0, 0, 0, 0.15);
border-radius: 5px;


}


.card_container .name{
    margin: 3rem auto;
font-weight: 600;
font-size: 18.5807px;
line-height: 25px;

/* identical to box height */

color: #373737;
}


.card_container .post{

font-weight: 400;
font-size: 12.3871px;
line-height: 17px;
color: #373737;

}

.card_container .para{
    text-align: center;
/* width: 480px; */
font-weight: 400;
font-size: 18.5807px;
line-height: 25px;
margin: 0 2rem;
color: #515151;



}

.card_container .image{

    /* z-index: 2; */
    margin-left: 2rem;
    /* top:-1rem; */
    position: absolute;
}



.slide{
    position: relative;
}


@media screen and (max-width:768px) {
    .card_container{
width: 335px;
height: 220px;

background: #FFFFFF;
box-shadow: 0px 0px 144.516px -46.4516px rgba(0, 0, 0, 0.15);
border-radius: 5px;
    }
}