@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600&family=Lato:wght@300&family=Manrope:wght@200;400;500;700;800&display=swap');
html{
  font-size: 62.50;
  font-family: 'Cabin Condensed', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Manrope', sans-serif;
color: #454A6D;


}

body img{
  fill: white;
}

*{
 margin: 0;
 padding: 0;
  
}


@media  screen and (max-width:400px) {
  html{
    max-width: 400px;
  }
  
}